<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- To use js client connect server, please see https://docs.microsoft.com/zh-cn/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-net-client -->
	<appSettings>
		<!-- The signalR web app url -->
		<add key="SignalRUrl" value="http://*:8088"/>
		<!-- The signalR web app access-token, use it in query string, if be empty will disable authorization -->
		<add key="AccessToken" value=""/>
	</appSettings>
</configuration>